label
{
	float:left;
	margin-left:-80px;
}

#ui1
{
	position:absolute;
	top:0;
	left:50%;
	margin-left:-103px;
	float:left;
	width:200px;
	height:200px;
	border: solid #000;
}

#ui2
{
	position:absolute;
	top:220px;;
	left:50%;
	margin-left:-103px;
}

#boxes
{
	float:left;
	margin-top:10px;
	margin-left:10px;
}

#box1
{
	float:left;
	width:100px;
	height:100px;
	background-color:#0000CC;
}

#box2
{
	float:left;
	margin-top:25px;
	margin-left:-75px;
	width:100px;
	height:100px;
	background-color:#F00;
}

#box3
{
	float:left;
	margin-top:50px;
	margin-left:-75px;
	width:100px;
	height:100px;
	background-color:#009900;
}

#box4
{
	float:left;
	margin-top:75px;
	margin-left:-75px;
	width:100px;
	height:100px;
	background-color:#FF6;S
}

select
{
	width:206px;	
}

