#cpanel
{
	position:absolute;
	top:25%;
	right:42%;
}
label
{
	float:left;
	margin-left:-120px;
}

#wrapper
{
	height:100%;
	width:100%;
}

#top
{
	float:left;
	width:100%;
}

#top-box
{
	width:100px;
	height:50px;
	background-color:#3CF;
	margin: 0 auto;
}

#content
{
	height:100%;
}

#left
{
	width:50px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

#left-box
{
	background-color:#6F9;
	width:50px;
	height:100px;
	position: absolute;
	left:0;
	top:50%;
	margin-top: -50px;
	
}

#middle
{
	width:100%;
	height:100%;
}

#middle-box
{
	position:fixed;
	top: 50%;
	left: 50%;
	width:100px;
	height:100px;
	margin-left:-50px;
	margin-top:-50px;
	background-color:#FF66CC;
}


#right
{
	width:50px;
	height:100%;
	position:absolute;
	right:0;
	top:0;
}

#right-box
{
	width:50px;
	height:100px;
	background-color:#FC0;
	position: absolute;
	right:0;
	top:50%;
	margin-top: -50px;
}

#bottom
{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

#bottom-box
{
	width:100px;
	height:50px;
	background-color:#FF6;
	margin:0 auto;
	
	
}

