@charset "utf-8";
/* CSS Document */

body
{
	background-color:#ebf4f4;
	font-family:Arial, Helvetica, sans-serif;
}

div#main-wrapper
{
	
	width:320px;
	height:370px;
	margin:0 auto;
	margin-top:20px;
	background-color:#FFFFFF;
	border:#cfdede 1px solid;
}

div#title
{
	width:149px;
	height:25px;
	position:relative;
	top:-3px;
 	left:25px;
	background-image:url("../images/titleBg.png");
	text-align:center;
	line-height:200%;
	font-size:12px; font-weight:bold;
	color:#FFFFFF;
}

div#form-wrapper
{
	width:263px;
	margin:0 auto;
}

.form-row
{
	float:left;
}

.label
{
	float:left;
	font-size:12px; color:#333333; font-weight:bold;
	margin-top:20px;
	margin-bottom:15px;
}

.input
{
	clear:left;
	height:35px;
}

input
{
	border:#cfdede 1px solid;
	background-color:#ebf4f4;
	height:30px;
	width:260px;
	color:#777777;
	font-style:italic;
}

input.submit
{
	width:262px;
	height:47px;
	color:#ffffff;
	border:0;
	font-size:16px; font-weight:bold;
	background-image:url("../images/submitBtn.png");
	margin-top:35px;
	font-style:normal;
	
}


.error
{
	color:#F00; font-size:10px; font-style:italic;
}
