/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.noshadow {
  -webkit-box-shadow: 0 0 0 0 ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 0 0 0 ;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 0 0 0 ;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
/**
 * S T Y L I N G
 ==================================*/
body, html {
    overflow-x: hidden;
}

body {
    background-color: #f3f3f3;
}

.logo {
}

.navbar {
    background: #41afec;
    border: 0;
}

.navbar-header {
    margin-left: 12px;
}

.navbar-brand img {
    margin: 7px 0;
}

.nav a {
    color: white;
    text-align: center;
}

.nav-main a {
    width: 130px;
}

.nav-main li {
    background: #2e9dda;
}

.nav-secondery {
}

    .nav-secondery li.search {
        padding: 0;
    }

    .nav-secondery li {
        border-left: 1px solid #52b6ee;
       float:left;
    }
.navbar-right {
    float:right;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 0px 10px;
}

.header {
    height: 150px;
}
.navbar-collapse.in {
     overflow-y: hidden;
}
.avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-size: cover;
    margin: 5px 0;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 3px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 3px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 3px;
}

.avatar-big {
    width: 42px;
    height: 42px;
    margin: 0;
}

.search img {
    margin-top: -5px;
}

.offer img {
    vertical-align: initial;
    margin-right: 8px;
}

.offer {
    font-weight: bold;
    background-color: #ffb141;
    max-width: 175px;
    padding: 0;
}


.navbar-nav > li > a, .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    height: 42px;
    line-height: 42px;
}

.navbar {
    min-height: 42px;
    margin-bottom: 30px;
}

.table {
    display: table;
    width: 100%;
    margin: 0;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.profileslist .list-group {
}

.profileslist .list-group-item {
    border: 1px solid #d7d7d7;
    padding-right: 8px;
    padding-left: 8px;
}

    .profileslist .list-group-item .list-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background: url(../images/x.png);
        width: 7px;
        height: 7px;
        cursor: hand;
        cursor: pointer;
    }

    .profileslist .list-group-item:nth-child(n+2) {
        height: 110px;
    }

.profileslist h4 {
    text-transform: uppercase;
    font-weight: bold;
}

.profileslist h5 {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 13px;
    margin-top: 0;
}

.profileslist h4 {
    font-size: 12px;
}

.profileslist h5 span {
    font-weight: normal;
}

.profileslist .table-cell:first-child {
    width: 58px;
}

.profileslist .list-group-item:last-child {
    border-bottom-color: #a1a1a1;
}

.profileslist p {
    font-size: 12px;
    color: #7a7a7a;
    margin: 0;
}

.profileslist .followers {
    display: inline-block;
    margin-top: 10px;
}

.profile-influncer {
    color: #41afec;
    border-radius: 5px;
    border: 1px solid #41afec;
    padding: 2px 2px 5px 4px;
    margin-right: 10px;
}

.bg-main {
    background-color: #41afec;
}

.bg-gry {
    background-color: #a7a7a7;
}

.btn {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    padding-right: 5px;
    margin-right: 7px;
    height: 20px;
    min-width: 65px;
    text-align: left;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 3px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 3px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 3px;
}

    .btn span {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 5px;
    }

.btn-follow span {
    background: url(../images/plus.png);
}

.btn-unfollow span {
    background: url(../images/minus.png);
    width: 7px;
    height: 2px;
    margin: 2px 5px;
}

.btn-sayhi span {
    background: url(../images/say.png);
}

.btn-follow, .btn-sayhi, .btn-unfollow {
    margin-top: 5px;
}

.btn.focus, .btn:focus, .btn:hover {
    color:white;
}

.icon-bar {
    background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: initial;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }

    .profileslist {
        padding: 0;
        margin-right: 35px;
    }

        .profileslist .list-group {
        }

        .nav-secondery li {
       
    }
}
