/* reset css http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */

@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant-Regular.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

html {
    direction: rtl;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Assistant', sans-serif;
}

.btn {
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    background: transparent;
    padding: 0;
}

.bgblue {
    background-color: #3b8fcd;
}

.bggreen {
    background-color: #7ec148;
}

.btn-login {
    width: 90px;
    margin-left: 28px;
}

.btn-register {
    width: 120px;
    margin-left: 5px;
}

.nav {
    display: table;
}

.nav li {
    display: table-cell;
    vertical-align: middle;
}
    
.secondery-nav {
    float: left;
}

.secondery-nav .btn {
    line-height: 30px;
    margin-top: 9px;
    font-size: 20px;
}

.secondery-nav .logo > img {
    width: 271px;
    position: relative;
    top: 4px;
}

.main-nav {
    float: right;
    font-size: 20px;
    margin: 16px 0;
    margin-right: 22px;
}

.main-nav li a {
    color: #f2f6fa;
    letter-spacing: -0.1px;
}

.main-nav li a::after {
    content: "";
    display: inline-block;
    border-left: 1px solid #f2f6fa;
    height: 15px;
    position: relative;
    top: 2px;
    margin: 0 16px 0 17px;
}

.main-nav li:last-child a::after {
    content: "";
    display: none;
}

.main-nav .accessibility {
    border: 0;
    background: url(../images/acc.svg);
    width: 44px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 29px;
    cursor: pointer;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 21px 40px 0 40px;
}

main {
    display: table;
    width: 100%;
    height: 100%;
}

main > .top-section {
    display: table-row;
    background: url(../images/bg1.png);
    position: relative;
    height: 600px;
    background-size:  cover;
}

.top-section aside {
    position: absolute;
    right: 0;
    top: 481px;
}

.top-text {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.top-text > div {
    float: right;
    margin-right: 290px;
    margin-top: -57px;
    position: relative;
}

.top-text > div > div {
    display: inline-block;
    vertical-align: top;
}

.top-text > div > div:first-child {
    border-left: 1px solid white;
    padding-left: 20px;
}

.top-text > div > div:nth-child(2) {
    font-size: 21px;
    margin-right: 23px;
    margin-top: 13px;
}

.top-text > div span{
    clear: right;
    float: right;
}

.top-text > div > button {
    clear: right;
    float: right;
    background: url('../images/button-bg.svg');
    border: 0;
    width: 274.5px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 179px;
    font-size: 38px;
    cursor: pointer; 
}

.top-text .price {
    letter-spacing: -3px;
    margin-bottom: -6px;
    margin-top: -11px;
    font-size: 85px;
    font-weight: bold;
}

.top-text .price i {
    margin-right: 5px;
    font-size: 51px;
}

.top-text > div > button > span {
    padding: 0 42px 0 0px;
    letter-spacing: -1.3px;
    display: inline-block;
    height: 100%;
    font-weight: bold;
    font-family: 'Assistant', sans-serif;
}

.top-text > div > button > i {
    margin-top: 12px;
    margin-right: -5px;
    display: inline-block;
    margin-left: 16px;
}

.top-text > div > button > span::after {
    content: "";
    border-left: 1px solid white;
    display: block;
    float: left;
    height: 34px;
    margin: 0 19px;
    margin-top: 14px;
}

.top-text h1 {
    font-size: 83px;
    line-height: 72px;
    letter-spacing: -1.2px;
}

.top-text h1 p > span:last-child {
    font-weight:  bold;
    letter-spacing: -2px;
}

.bottom-section {
    margin-top: 98px;
    z-index: 1;
    position: relative;
}

.bottom-section h2 {
    letter-spacing: -1px;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}

.tools {
    display: table;
    min-width: 63%;
    margin: 0 auto;
    margin-top: 71px;
    table-layout: fixed;
    margin-bottom: 71px;
}

.tools img {
    width: 72px;
}

.tools li {
    display: table-cell;
    text-align: center;
}

.tools li h3 {
    color: #3b8fcd;
    font-size: 26px;
    font-weight: lighter;
    margin: 10px 0;
}

.main-nav .icon {
    display: none;
}

.tools p {
    color: #0e283c;
    font-size: 15px;
    max-width: 227px;
    font-weight: lighter;
    margin: 0 auto;
}

.tools .btn {
    width: 127px;
    padding: 5px 0;
    margin-top: 15px;
}

.bottom-section .plug {
    display: none;
}

/*/////////// media queries ////////////*/

@media only screen and (max-width : 1024px) {
    .tools {
        width: 90%;
    }

    .top-text {
        text-align: center;
        white-space: nowrap
    }

    .top-text > div {
        margin: 0;
        float: none;
    }

    .top-text > div > button {
       display: table;
       text-align: center;
       position: static;
       margin: 0 auto;
       margin-top: 40px;
       float: none;
       clear: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .top-text > div {
        margin: 0 auto;
        width: 100%;
        float: none;
    }

    aside {
        display: none;
    }

    .bottom-section {
        text-align: center;
    }

    .bottom-section .plug {
        margin-top: 71px;
        display: initial;
    }
}

@media screen and (max-width: 900px) {
    header {
        padding: 21px 24px 0 24px;
    }

    .main-nav .accessibility {
        margin-top: 65px;
    }

    .main-nav {
        margin-right: 0;
        z-index: 1;
    }

    .main-nav ul {
        position: absolute;
        z-index: 1;
    }

    .main-nav li:not(:first-child) {
        display: none;
    }

    .main-nav a.icon {
        float: right;
        display: block;
    }

    .main-nav.responsive li {
        float: right;
        display: block;
        clear: right;
    }

    .main-nav.responsive li:not(:first-child) {
        background-color: #3b8fcd;
        width: 200px;
        padding-bottom: 15px;
        padding-right: 15px;
        border-left: 1px solid white;   
        border-right: 1px solid white;  
    }

    .main-nav.responsive li:nth-child(2) {
        padding-top: 15px;
        border-top: 1px solid white;
    }

    .main-nav.responsive li:last-child {
        border-bottom: 1px solid white;
    }

    .main-nav li a::after {
        display: none;
    }

    .tools li {
        display: block;
        float: right;
        width: 50%;
    }

    .tools li:nth-child(-n+2) {
        margin-bottom: 71px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .secondery-nav li:not(:last-child) {
        display: none;
    }

    .top-text > div {
        text-align: center;
        float: none;
    }
    
    h2 span {
        display: block;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 687px) {
    .top-text > div > div {
        border-left: 0;
        padding-left: 0;
        display: block;
    }

    .top-text > div {
        text-align: center;
    }

    .top-text > div > button {
        position: relative;
        top: 25px;
    }

    .top-text{
        vertical-align: middle;
    }

    .top-text p span {
        width: 100%;
        text-align: center;
    }

    .tools {
        width: 90%;
    }

    .top-text > div {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .top-text > div > div:first-child {
        border-left: 0;
        padding-left: 0;
    }

    .top-text > div > button {
        position: relative;
        top: 45px;
    }

    .tools li {
        display: table-row;
        width:100%;
        margin-bottom: 71px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 480px) {
    .top-text p {
        font-size: 60%;
    }
}