/* CSS Document */
body,html{
	height: 100%;
}

header, footer, article, section, nav, menu, hgroup {
	display: block;
}

table {
	width: 100%;
}

img {
	display: block;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

header {
	
}

#body {
	padding: 0;
	margin: 0;
	color:#FFFFFF;
	background-color: #541b3d;
	background-image: url('../images/bg-top.png');
	background-repeat: repeat-x;
}

.wrapper
{
	display: block;
	background-color: #f2629c;
	border: #f2629c 15px solid;
	width: 755px;
	min-height: 95%;
    box-sizing: border-box;
	display: block;
	margin: auto;
}

#main {
	direction: rtl;
	margin: 40px;
	text-align: center;
}

#site-title {
	width: 100%;
}

h1 {
	text-transform: uppercase;
	color: #541b3d;
}

h2 {
	color: #962558;
}

h1, h2, h3 {
	text-align: center;
}

.label {
	min-width: 100px;
	display: block;
}

.centered {
	margin: 0 auto;
 }

.shadow {
	-moz-box-shadow:0px 4px 6px 0px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow:0px 4px 6px 0px rgba(0, 0, 0, 0.65);
	box-shadow:0px 4px 6px 0px rgba(0, 0, 0, 0.65);
}

.round {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-khtml-border-radius:15px;
	border-radius: 15px;
}

.button {
	color: #555;
	background-color: #e7e7e7;
	border-radius: 5%;
	padding: 10px;
}

nav {
	direction: rtl;
	width: 100%;
	margin-top: 35px;
}

nav ul {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: table-cell;
	text-align: center;
	width: 20%;
	font-size: 22px;
}

footer {
	color:#000000;
	float:left;
	width:100%;
	margin:10px;
	text-align:center;
}
	
