﻿body{font-size:12px;font-family:Arial;background-color:Transparent}
div{padding:0px;margin:0px}
.box{float:right;width:656px;height:342px}
.top{float:right;width:655px;height:29px}
.topRight{float:right;width:8px;height:29px;background:url(../images/box.gif) 0px -208px no-repeat}
.topCenter{float:right;width:639px;height:29px;background:url(../images/box.gif) 0px -266px repeat-x}
.topLeft{float:right;width:8px;height:29px;background:url(../images/box.gif) 0px -237px no-repeat}
.bottom{float:right;width:655px;height:29px}
.bottomRight{float:right;width:8px;height:29px;background:url(../images/box.gif) 0px -51px no-repeat}
.bottomCenter{float:right;width:639px;height:29px;background:url(../images/box.gif) 0px -179px repeat-x}
.bottomLeft{float:right;width:8px;height:29px;background:url(../images/box.gif) 0px -115px no-repeat}
.close{float:left;width:15px;height:16px;background:url(../images/box.gif) 0px 0px no-repeat;margin-top:6px;cursor:pointer;_overflow:hidden}
.titleTxt{float:right;color:#3082d6;font-weight:bold;margin-right:5px;margin-top:5px;text-align:right;direction:rtl;font-size:15px;line-height:18px}
.Inner{width:656px;direction:ltr;height:293px;float:right}
.Inner .R{float:right;width:14px;height:100%;background-image:url('../images/flah-right-popup.jpg');background-repeat:repeat-y}
.Inner .M{float:right;width:627px;height:100%;background-image:url('../images/flah-mdle-popup.gif');background-repeat:repeat-x;padding-top:10px;background-color:#ffffff;text-align: right;}
.Inner .L{float:right;width:14px;height:100%;background-image:url('../images/flah-left-popup.jpg');background-repeat:repeat-y}
.field{width:133px}
.Inner input{width:112px;height:23px;border:solid 0px #000000;margin-top:1px}
.Inner .sep{float:right;width:1px;height:138px;margin-left:10px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/sep.gif');background-repeat:no-repeat}
.Inner .jointext{direction:rtl;float:right;width:100%;font-size:12px;color:#50A5E1;text-align:right;font-weight:bold;padding-top:5px}
.Inner .error{color:red;font-weight:bold;float:right;font-size:11px;width:100%;text-align:right}
.Inner .check{color:#50A5E1;float:right;font-size:11px;font-weight:bold;width:200px;text-align:right;padding-top:5px}
.Inner .check a{color:#50A5E1;text-decoration:underline;cursor:pointer}
.Inner .check .cbOff{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_reg_notM.gif');background-repeat:no-repeat;margin-left:4px}
.Inner .check .cbOff:hover{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_hvr_notM.gif');background-repeat:no-repeat}
.Inner .check .cbOn{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_reg_M.gif');background-repeat:no-repeat;margin-left:4px}
.Inner .check .cbOn:hover{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_hvr_M.gif');background-repeat:no-repeat}
.Inner .M .field{float:right}
.Inner .M .field-right-idle{float:right;width:13px;height:29px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/field-right-idle.gif');background-repeat:no-repeat}
.Inner .M .field-mdle-idle{float:right;width:100px;height:29px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/field-mdle-idle.gif');background-repeat:repeat-x}
.Inner .M .field-left-idle{float:right;width:13px;height:29px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/field-left-idle.gif');background-repeat:no-repeat}
.Inner .M img {float:right}
.Inner .M .side1{float:right;width:200px;padding-top:10px}
.Inner .M .side1 .enable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-1-active.gif');background-repeat:no-repeat}
.Inner .M .side1 .disable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-1-disable.gif');background-repeat:no-repeat}
.Inner .M .side1 .proceed{float:right;width:55px;height:23px;cursor:pointer;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/proceed-btn-idle.gif');background-repeat:no-repeat}
.Inner .M .side2 {float:right;width:188px;padding-top:10px}
.Inner .M .side2 .enable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-2-active.gif');background-repeat:no-repeat}
.Inner .M .side2 .disable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-2-disable.gif');background-repeat:no-repeat}
.Inner .M .side2 .approval{float:right;width:55px;height:23px;cursor:pointer;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/approval-btn-idle.gif');background-repeat:no-repeat}
.Inner .succeed{width:229px;margin:auto}
.Inner .succeed .header{float:right;width:229px;height:34px;margin-top:15px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/succeed-msg.gif');background-repeat:no-repeat}
.Inner .succeed .pel{float:right;width:229px;color:#50A5E1;font-size:14px;padding:10px 0px 10px 0px}
.Inner .succeed .rejoin{float:right;width:210px;height:23px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/join-with-differ-btn.gif');background-repeat:no-repeat;cursor:pointer}
.Inner .failure{width:229px;margin:auto}
.Inner .failure .header{float:right;width:229px;height:34px;margin-top:15px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/not-succeed-msg.gif');background-repeat:no-repeat}
.Inner .failure .pel{float:right;width:229px;color:#50A5E1;font-size:14px;padding:10px 0px 10px 0px}
.Inner .failure .rejoin{float:right;width:210px;height:23px;display:none;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/join-with-differ-btn.gif');background-repeat:no-repeat;cursor:pointer}
#overlay0 {position:absolute;background-image:url(/web/App_Themes/default/Images/TV/overlay_70.png);z-index:1000;width:200px;height:123px}
#overlay1 {position:absolute;background-image:url(/web/App_Themes/default/Images/TV/overlay_70.png);z-index:1000;width:188px;height:123px}
.longBox{width:535px;float:right;height:140px;display:none;position:relative}
.lbTop{float:right;width:653px;height:9px}
.lbtCenter{float:right;width:645px;height:9px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) repeat-x 0px -9px}
.lbtLeft{float:right;width:8px;height:9px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px 0px}
.lbBottom{float:right;width:653px;height:11px}
.lbbCenter{float:right;width:643px;height:25px;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) repeat-x 0px -119px}
.lbbLeft{float:right;width:9px;height:25px;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) no-repeat 0px -94px}
.valStep0,.valStep0a,.valStep1,.valStep1a,.valStep2,.valStep5,.valStep2a{float:right;width:205px;color:#C0623E;text-align:right;direction:rtl;height:14px;font-weight:bold;font-size:11px}
.valStep0{width:194px;height:auto;color:#3082D6}
* html .valStep0{padding-right:5px}
* html .spe{margin-left:10px}
.lbMiddle{float:right;width:652px;height:110px}
.lbmCenter{float:right;width:641px;height:110px;background:#ffffff;padding-right:10px}
* html .step0{margin-right:0px}
.tabs{direction:rtl;margin-top:5px;margin-right:7px}
.subtabs{direction:rtl;margin-left:auto;margin-right:auto;width:701px;text-align:center}
.pelenum,.smscode,.acccode{background-color:transparent;border:0px;direction:rtl;float:right;height:21px;margin-top:2px;text-align:right;width:115px;font-size:15px;color:#747474}
.disabled{opacity:0.5;filter:alpha(opacity=50);cursor:default !important}
.load{width:80px;height:20px;position:absolute;right:25px;top:133px;z-index:10;display:none}
.load2{right:240px}
.load3{right:455px;top:185px}
.lbmLegalText p{padding:0px;margin:0px}
.lbmLegalTextDis,.lbmLegalTextDis a{color:#A8D2F0}
.simplemodal-data{_margin-left:auto;_margin-right:auto}
.sum{float:right;width:240px;height:63px;text-align:center;direction:rtl;display:none}
.sum .num{font-size:36px;font-weight:bold;width:240px;line-height:30px;margin-top:8px;display:none}
.blue{color:#0278C0}
.lightBlue{color:#339FDD}
.green{color:#6D8D12}
.red{color:#DF3619}
.sum span{color:#666563;font-size:12px;font-weight:bold}
.alterSum{background:url(../../../App_Themes/default/images/dashboard/boxes.gif) repeat-x 0px -154px}
.simplemodal-overlay{background-color:#000000}
.jdpicker_w .date_selector *{width:auto;height:auto;border:none;background:none;margin:0;padding:0;text-align:left;text-decoration:none;font-size:12px}
.jdpicker_w .date_selector{background:#FFF;border:1px solid #bbb;margin:-1px 0 0 0;position:absolute;z-index:100000;display:none;width:210px}
.jdpicker_w .date_selector table{width:210px;margin-left:3px}
.jdpicker_w .date_clearer{color:#a00;padding-left:3px;cursor:pointer;font-weight:bold;font-family:sans-serif}
.jdpicker_w .date_selector_ieframe{position:absolute;z-index:99999;display:none}
.jdpicker_w .error_msg{display:none;text-align:center;font-size:0.8em;color:#666}
.jdpicker_w .date_selector .nav{background-color:#efefef;border-bottom:solid 1px #C5C5C5;height:22px;width:17.5em;/* 7 * 2.5em */}
.jdpicker_w .date_selector .month_nav,.jdpicker_w .date_selector .year_nav{margin:0 0 3px 0;padding:0;display:block;position:relative;text-align:center}
.jdpicker_w .date_selector .month_nav{float:left;width:56%}
.jdpicker_w .date_selector .year_nav{float:right;width:37%;position:relative}
.jdpicker_w .date_selector .month_nav select{width:75px;margin:0 auto;border:1px solid #ccc;position:relative;top:1px}
.jdpicker_w .date_selector .year_nav .year_input{text-align:center;width:36px;border:1px solid #ccc;position:relative;top:2px}  
.jdpicker_w .date_selector .month_name,.jdpicker_w .date_selector .year_name{font-weight:bold;line-height:20px}
.jdpicker_w .date_selector .button{display:block;position:absolute;top:0;width:18px;height:18px;line-height:17px;font-weight:bold;color:#333;text-align:center;font-size:120%;overflow:hidden;border:1px solid #F2F2F2;cursor:pointer}
.jdpicker_w .date_selector .button:hover,.jdpicker_w .date_selector .button.hover{background:none;color:#333;cursor:pointer;border-color:#ccc}
.jdpicker_w .date_selector .prev{left:0}
.jdpicker_w .date_selector .next{right:0}
.jdpicker_w .date_selector table{margin:0 auto;border-spacing:1px;clear:both}
.jdpicker_w .date_selector th{padding-top:5px}
.jdpicker_w .date_selector th,.jdpicker_w .date_selector td{text-align:center;color:black}
.jdpicker_w .date_selector th.week_label{font-weight:normal;font-style:italic;font-size:80%;width:25px}
.jdpicker_w .date_selector .week_num,.jdpicker_w .date_selector .hover .week_num,.jdpicker_w .date_selector .selected .week_num{font-style:italic;color:#333 !important;vertical-align:bottom !important;text-align:right;border:none !important;font-size:70%;background:#FCFCFC !important;padding-right:4px}
.jdpicker_w .date_selector td{line-height:2em;text-align:center;white-space:nowrap;color:#003C78;background:white}
.jdpicker_w .date_selector td.today{}
.jdpicker_w .date_selector td.unselected_month{visibility:hidden}
.jdpicker_w .date_selector td.selectable_day,.jdpicker_w .date_selector tr.selectable_week td{cursor:pointer;color:#6080A7}
.jdpicker_w .date_selector td.selected,.jdpicker_w .date_selector tr.selected  td{font-weight:bold;background-color:#6080A7;color:#ffffff}
.jdpicker_w .date_selector tr.selectable_week.hover td,.jdpicker_w .date_selector td.selectable_day.hover{font-weight:bold}
.jdpicker{float:right;width:70px;border:0px;background-color:Transparent;font-size:11px;height:20px;cursor:pointer;text-align:right;margin-right:0px;position:relative;z-index:10;line-height:22px}
.arrowDown{float:left;width:17px;height:21px;background:url(/web/App_Themes/default/images/dashboard/calendarIcon.png) no-repeat 0px 0px;margin-top:2px;cursor:pointer;position:absolute;position:absolute;z-index:1}
p{margin:0; padding:0;}
.content{float: right;width: 100%;color:#0077bc;}
.content-header{display: table;margin: 0 auto;}
.content > .footer{float: right;width: 100%;}
.mainHeader{float:right;line-height: 65px;font-size:28px;}
.seconderyHeader{font-size:16px;display: table;margin: 0 auto;}
span.figure{float: right;}
span.figure img{height:51px; width:auto;}
span.or{float:right;width:80px;text-align:center;margin-top:45px;font-size:25px;font-weight:bold;}
.offers{display: table;margin: 15px auto;}
.offers > .offer{position:relative;float: right;background: url(../images/offerBg.png) no-repeat 0px 0px;width: 267px;height: 121px;font-weight:bold;}
.offer > .ribbon{background: url(../images/ribbon.png) no-repeat 0px 0px;width: 74px;height: 74px;position: absolute;top: 0px;left: 3px;}
.offer > .offer-text{width:100%;text-align:center;float: right;margin-right: -5px;}
.offer-text > .row {display:table; margin:0 auto;}
.offer-text > .row >  span{float:right;vertical-align:bottom}
.offer-text > .row > .price{font-size:52px;}
.offer-text > .row > .nis{font-size:34px;padding-top: 19px;margin-left: 10px;}
.offer-text > .row > .deal{font-size:21px;padding-top: 32px;}
.offer-text > .row > .deal2{font-size:18px;}
.offer-text > .row > .deal3{font-size: 25px;margin-top: -10px;}
.footer{float:right;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0 11px;}
.footer > .btn{float:left;margin-top: 4px;}
.footer > .info{float:right;text-decoration:underline;font-size:12px;position: absolute;bottom: 15px;right: 14px;font-size:14px;}
.footer > .terms{float:right; width:100%;text-align:center}
.footer > .terms > .term{float:right; width:100%}
.footer > .terms > .link{clear:both; width:100%;font-weight:bold;text-decoration:underline;}
