﻿.bg-black {
    background-color: black;
}

.bg-orange {
    background-color: #f7941d;
}

.bg-blue {
    background-color: #00aeef;
}

.bg-green {
    background-color: #00a651;
}

.bg-gray {
    background-color: #ebebeb;
}

.color-gray {
    color: #a1a1a1;
}

.margin-center {
    margin: 0 auto;
    display: block;
}

.color-white {
    color: white;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.container-bottom-form {
    background-color: #f7941d;
}

.btn {
    white-space: normal;
}

    .btn span {
        float: right;
    }

.navbar {
    background-color: black;
}

    .navbar .container, .navbar {
        height: 150px;
    }

.container-steps {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../images/steps-mobile.png);
    background-size:cover;
    }

    .container-steps .col-lg-4 span {
        background: url(../images/blue-circ-m.png) no-repeat;
        width: 269px;
        height: 304px;
        display: block;
        margin:0 auto;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
    }

    /*.container-steps .col-lg-4:first-child span {
        position: relative;
        left: 110px;
    }*/

    .container-steps .col-lg-4:last-child span {
        background: url(../images/blue-circ-m-last.png) no-repeat;
    }

    .container-steps .col-lg-4 span i {
           /* width: 170px; */
    display: block;
    /* margin-left: 6px; */
    font-size: 28px;
    font-style: normal;
    padding-top: 88px;
}
    

img[alt=trusted] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-top {
}

h1 {
    font-size: 38px;
    text-transform: uppercase;
    color: white;
    margin-top: 35px;
}

h2 {
    font-size: 46px;
}

.blockquote-2 {
    border-left: 0;
    padding: 45px 45px;
}

.blockquote {
    border-left: 0;
    padding-left: 30px;
    margin-bottom: 0;
    padding-left: 0;
}

    .blockquote p:nth-child(2) {
        float: right;
    }

.blockquote-avatar {
    margin-top: 8px;
}

.top-row {
    margin-bottom: 7px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.faces {
    margin-top: 20px;
    margin-bottom: 20px;
}

.community-text {
    margin-right: 55px;
    margin-left: 55px;
}

.imgstrip {
    background: url(../images/imgstrip.png);
    background-size: cover;
    height: 145px;
}

.row-blocks .col-lg-4 {
    height: 215px;
}

.btn-register {
    font-size: 30px;
    text-transform: uppercase;
    max-width: 455px;
    margin-bottom: 20px;
}

.container-schedule {
    margin-top: 40px;
    margin-bottom: 40px;
}

    .container-schedule li {
        font-size: 24px;
        font-weight: bold;
        padding-top: 35px;
        padding-bottom: 35px;
        border: 0;
    }

.container-bottom-form .h1 {
    font-size: 60px;
}

.container-schedule h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-top: 0;
    padding-top: 20px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

input[type=text], input[type=email], input[type=tel],input[type=password] {
    color: #a1a1a1;
    font-size: 18px;
    padding-right: 0;
}

form {
    padding: 10px;
}

.btn-nextstep {
    font-size: 37px;
    border: 1px solid white;
    width: 100%;
}

.form-control {
    padding: 23px 8px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
}

footer a, footer a:hover, footer a:focus {
    color: white;
}

footer li {
    list-style: none;
}

footer h4 {
    padding-left: 40px;
    color: white;
}

.container-bottom-form form {
    padding-bottom: 30px;
}

footer {
    padding: 30px 0;
}

.form-logo-container {
    padding: 20px 30px;
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
    padding-left: 40px;
}

    ul.social-network li {
        display: inline;
        margin: 0 0px;
    }


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

    .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #D3D3D3;
}

img[alt=nathan] {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 60%;
}

img[alt=home] {
    width: 75%;
}

@media(min-width:768px) {
    video{
        margin-top: 31px;
}

      .container-steps .col-lg-4 span {
        background: url(../images/blue-cirr-arr.png) no-repeat;
        width: 275px;
        height: 180px;
        display: table-cell;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
    }

    .container-steps .col-lg-4:first-child span {
        position: relative;
        left: 110px;
    }

    .container-steps .col-lg-4:last-child span {
        background: url(../images/blue-circ.png) no-repeat;
        position: relative;
        right: 110px;
    }

    .container-steps {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../images/steps-bg.png);
}
    
    .container-steps .col-lg-4:first-child span {
        position: relative;
        left: 110px;
    }

    .container-steps .col-lg-4:last-child span {
        background: url(../images/blue-circ.png) no-repeat;
        position: relative;
        right: 110px;
    }

.container-people {
    padding-top:45px;
    padding-bottom:45px;
}

    .container-steps .col-lg-4 span i {
     width: 170px;
    display: block;
    margin-left: 6px;
    font-size:19px;
    font-style: normal;
    padding:0
}

   img[alt=nathan] {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    width: auto;
}


.container-bottom-form {
    background-color: #00aeef;
}

.container-schedule li {
    padding-left: 75px;
}

}

@media(min-width:992px) {
    .container-top{
    padding-top: 10px;
    }
}
