﻿
UL,LI{list-style-type:none;}
TABLE {border-collapse: collapse;border-spacing: 0;}
A:link, A:hover, A:focus, A:active, A:visited, A:active:visited {border:medium none;outline-width:0;}
:focus {outline: 0;}
/*.H10{width:100%;height:10px;clear:both; float:none;}*/

/****** general *******/
.clear {float:none;clear:both;} .L {float:left;} .R {float:right;} .ie6Fix {font-size:1px;line-height:1px;}
.margin_auto {margin:0px auto;} .P {cursor:pointer;} .center {text-align:center;} .align_L {text-align:left;} .align_R {text-align:right;}
.rel {position:relative;} .listNone {list-style-type:none;} .rtl {direction:rtl;} .ltr {direction:ltr;} .borderNone {border:none;}
A {text-decoration:none;}

/* clear fix */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}  html[xmlns] .clearfix {display: block;} * html .clearfix {height: 1%;}
/********* heights *********/
.h10 {width:100%;height:10px;} .h15 {width:100%;height:15px;}  .h18 {width:100%;height:18px;} .h20 {width:100%;height:20px;}  .h25 {width:100%;height:25px;}.h35 {width:100%;height:35px;}.h60 {width:100%;height:60px;}

/********* fonts **********/
.f11 {font:normal 1.1em Arial;} .f12 {font:normal 1.2em Arial;} .f13 {font:normal 1.3em Arial;} .f14 {font:normal 1.4em Arial;} .f15 {font:normal 1.5em Arial;}
.f16 {font:normal 1.6em Arial;} .f17 {font:normal 1.7em Arial;} .f18 {font:normal 1.8em Arial;} .f19 {font:normal 1.9em Arial;}
.f20 {font:normal 2.0em Arial;} .f21 {font:normal 2.1em Arial;} .f22 {font:normal 2.2em Arial;} .f23 {font:normal 2.3em Arial;} .f24 {font:normal 2.4em Arial;}  .f26 {font:normal 2.6em Arial;}  .f30 {font:normal 3.0em Arial;}
.f32 {font:normal 3.2em Arial;}  

DIV.header { padding-right:110px; padding-top:15px;}
DIV.header .logo { float:right;}
DIV.header  .chatBTN { display:inline-block; background:url(../images/btn31_right.png) no-repeat right; height:31px; padding-right:27px; float:left; margin-top:5px;}
DIV.header  .chatBTN SPAN { display:inline-block; cursor:pointer; background:url(../images/btn31_left.png) no-repeat left; height:31px; padding:0 11px 0 17px; font:bold 1.5em/29px arial; color:#FFF;}

DIV.header  .chatBTN:hover { display:inline-block; background:url(../images/btn31_over_right.png) no-repeat right; height:31px; padding-right:27px;}
DIV.header  .chatBTN:hover SPAN { display:inline-block; cursor:pointer; background:url(../images/btn31_over_left.png) no-repeat left; height:31px; padding:0 11px 0 17px; font:bold 1.5em/29px arial; color:#FFF;}
DIV.tabContnet { float:right; width:110px; padding-top:50px;}
DIV.tabContnet UL { margin:0px; padding:0px; list-style:none;}
DIV.tabContnet UL LI { display:block; padding:0px; width:110px; height:148px;}
DIV.tabContnet UL LI.tab1_over { background:url(../images/tab_selected.png) no-repeat; text-align:center;}
DIV.tabContnet UL LI.tab1_over SPAN { display:block; width:110px; height:148px; background:url(../images/tabText1_over.png) no-repeat center;}

DIV.tabContnet UL LI.tab1_selected { background:url(../images/tab_selected.png) no-repeat; text-align:center;}
DIV.tabContnet UL LI.tab1_selected SPAN { display:block; width:110px; height:148px; background:url(../images/tabText1_select.png) no-repeat center;}

DIV.tabContnet UL LI.tab2 { background:url(../images/tab2.png) no-repeat; text-align:center}
DIV.tabContnet UL LI.tab2 SPAN {display:block; width:110px; height:148px; background:url(../images/tabText2.png) no-repeat center;}
DIV.tabContnet UL LI.tab2_selected { background:url(../images/tab_selected.png) no-repeat; text-align:center;}
DIV.tabContnet UL LI.tab2_selected SPAN { display:block; width:110px; height:148px; background:url(../images/tabText2_select.png) no-repeat center;}
DIV.tabContnet UL LI.tab2_over { background:url(../images/tab_selected.png) no-repeat; text-align:center;}
DIV.tabContnet UL LI.tab2_over SPAN { display:block; width:110px; height:148px; background:url(../images/tabText2_over.png) no-repeat center;}

DIV.tabContnet UL LI.tab3 { background:url(../images/tab3.png) no-repeat; text-align:center}
DIV.tabContnet UL LI.tab3 SPAN {display:block; width:110px; height:148px; background:url(../images/tabText3.png) no-repeat center;}
DIV.tabContnet UL LI.tab3_NewPhone { background:url(../images/tab3.png) no-repeat; text-align:center}
DIV.tabContnet UL LI.tab3_NewPhone SPAN {display:block; width:110px; height:148px; background:url(../images/tabText3_light_new.png) no-repeat center;}
DIV.tabContnet UL LI.tab3_selected { background:url(../images/tab_selected.png) no-repeat; text-align:center;}
DIV.tabContnet UL LI.tab3_selected SPAN { display:block; width:110px; height:148px; background:url(../images/tabText3_select.png) no-repeat center;}
DIV.tabContnet UL LI.tab3_NewPhone_selected { background:url(../images/tab_selected.png) no-repeat; text-align:center}
DIV.tabContnet UL LI.tab3_NewPhone_selected SPAN {display:block; width:110px; height:148px; background:url(../images/tabText3NewPelephoneSelected.png) no-repeat center;}

DIV.midContent { width:766px; float:right;}
DIV.midContent DIV.boxTop { background:url(../images/contentBox_topR.png) no-repeat right; padding-right:22px; height:18px;}
DIV.midContent DIV.boxTop DIV { background:url(../images/contentBox_topL.png) no-repeat left; height:18px;}
DIV.midContent DIV.boxbottom { background:url(../images/contentBox_bottomR.png) no-repeat right; padding-right:17px; height:20px;}
DIV.midContent DIV.boxbottom DIV { background:url(../images/contentBox_bottomL.png) no-repeat left; height:20px;}
DIV.midContent DIV.boxMid { background:#FFF; padding-right:40px; min-height:500px;}

DIV.footer { xbackground:url(../images/footerBG.png) repeat-x bottom;position:relative;z-index:10;}
DIV.footer DIV.footerCenter { width:752px; margin:0 auto; direction:rtl; padding-top:14px;height:61px; position:relative}
DIV.footer DIV.footerCenter A.safeLink { display:inline-block; background:url(../images/safeIcon.png) no-repeat right; padding-right:15px; font:normal 1.3em arial; color:#fffffe; float:left;}
A.reservationsBTN { background:url(../images/reservationsBTN.png) no-repeat; width:185px; height:51px; display:inline-block;}
A.reservationsBTN2 { background:url(../images/reservationsBTN2.png) no-repeat; width:185px; height:51px; display:inline-block;}
DIV.footerBox { width:376px;  padding-bottom:0px; position:absolute; top:55px; right:0px; cursor:pointer;z-index:7;height:46px;}
DIV.footerBox * { cursor:pointer}
DIV.footerBox DIV.boxTop { background:url(../images/footerBox_topOpen.png) no-repeat left top; padding-top:61px;}
DIV.footerBox DIV.boxMid { background: url(../images/footerBox_mid.png) repeat-y top; padding:4px 14px 5px 14px;}
DIV.footerBox DIV.boxMid UL { margin:0px; padding:0px; list-style:none}
DIV.footerBox DIV.boxMid UL  LI { padding:0 10px 0 0; margin:0px;  color:#525252;}

DIV.reservationLine {position: absolute;bottom: 30px;left: 0px; width:100%; min-height:61px; z-index:554;}
DIV.reservationLine DIV.footerCenter { width:752px; margin:0 auto; direction:rtl; padding-top:15px;height:89px; position:relative;bottom: -4px;overflow:hidden;}

DIV.midContent2 { width:766px; margin:0 110px 0 auto; }
DIV.midContent2 DIV.boxTop { background:url(../images/contentBox_topR.png) no-repeat right; padding-right:22px; height:18px;}
DIV.midContent2 DIV.boxTop DIV { background:url(../images/contentBox_topL.png) no-repeat left; height:18px;}
DIV.midContent2 DIV.boxbottom { background:url(../images/contentBox_bottomR.png) no-repeat right; padding-right:17px; height:20px;}
DIV.midContent2 DIV.boxbottom DIV { background:url(../images/contentBox_bottomL.png) no-repeat left; height:20px;}
DIV.midContent2 DIV.boxMid { background:#FFF; padding:0 40px 15px 0}


.select252 .ui-combobox { position: relative; display: inline-block;}
.select252 .ui-combobox-toggle { position: absolute; top: 0; bottom: 0; margin-left: -1px; padding: 0;  /* adjust styles for IE 6/7 */ *height: 1.7em; *top: 0.1em;}
.select252 .ui-combobox-input { margin: 0; padding: 0.3em;}
.ui-autocomplete { max-height: 92px; overflow-y: auto; }
.select252 .ui-corner-left { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.select252 .ui-corner-right { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.select252 .ui-corner-left { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.select252 .ui-corner-right { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }



DIV.tabContnet UL LI.tab3Ext { background:url(../images/tab3.png) no-repeat; text-align:center}
DIV.tabContnet UL LI.tab3Ext SPAN {display:block; width:110px; height:148px; background:url(../images/tabText3_light_new.png) no-repeat center;}
DIV.tabContnet UL LI.tab3Ext_NewPhone { background:url(../images/tab3.png) no-repeat; text-align:center}
DIV.tabContnet UL LI.tab3Ext_NewPhone SPAN {display:block; width:110px; height:148px; background:url(../images/tabText3NewPelephone.png) no-repeat center;}
DIV.tabContnet UL LI.tab3Ext_selected { background:url(../images/tab_selected.png) no-repeat; text-align:center;}
DIV.tabContnet UL LI.tab3Ext_selected SPAN { display:block; width:110px; height:148px; background:url(../images/tabText3_new.png) no-repeat center;}