﻿body{font-size:12px;font-family:Arial}
div{padding:0px;margin:0px}
.box{float:right;width:656px;height:342px}
.top{float:right;width:655px;height:29px}
.topRight{float:right;width:8px;height:29px;background:url(/web/App_Themes/default/images/laptops/popup/box.gif) 0px -208px no-repeat}
.topCenter{float:right;width:639px;height:29px;background:url(/web/App_Themes/default/images/laptops/popup/box.gif) 0px -266px repeat-x}
.topLeft{float:right;width:8px;height:29px;background:url(/web/App_Themes/default/images/laptops/popup/box.gif) 0px -237px no-repeat}
/*.bottom{float:right;width:655px;height:29px}*/
.bottomRight{float:right;width:8px;height:29px;background:url(/web/App_Themes/default/images/laptops/popup/box.gif) 0px -51px no-repeat}
.bottomCenter{float:right;width:639px;height:29px;background:url(/web/App_Themes/default/images/laptops/popup/box.gif) 0px -179px repeat-x}
.bottomLeft{float:right;width:8px;height:29px;background:url(/web/App_Themes/default/images/laptops/popup/box.gif) 0px -115px no-repeat}
.close{float:left;width:15px;height:16px;background:url(/web/App_Themes/default/images/laptops/popup/box.gif) 0px 0px no-repeat;margin-top:6px;cursor:pointer;_overflow:hidden}
.titleTxt{float:right;color:#3082d6;font-weight:bold;margin-right:5px;margin-top:5px;text-align:right;direction:rtl;font-size:15px;line-height:18px}
.Inner{width:656px;direction:ltr;height:210px;float:right}
.Inner .R{float:right;width:14px;height:210px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/flah-right-popup.jpg');background-repeat:repeat-y}
.Inner .M{float:right;width:627px;height:210px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/flah-mdle-popup.gif');background-repeat:repeat-x;padding-top:10px;background-color:#ffffff}
.Inner .L{float:right;width:14px;height:210px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/flah-left-popup.jpg');background-repeat:repeat-y}
.field{width:133px}
.Inner input{width:112px;height:23px;border:solid 0px #000000;margin-top:1px}
.Inner .sep{float:right;width:1px;height:138px;margin-left:10px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/sep.gif');background-repeat:no-repeat}
.Inner .jointext{direction:rtl;float:right;width:100%;font-size:12px;color:#50A5E1;text-align:right;font-weight:bold;padding-top:5px}
.Inner .error{color:red;font-weight:bold;float:right;font-size:11px;width:100%;text-align:right}
.Inner .check{color:#50A5E1;float:right;font-size:11px;font-weight:bold;width:200px;text-align:right;padding-top:5px}
.Inner .check a{color:#50A5E1;text-decoration:underline;cursor:pointer}
.Inner .check .cbOff{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_reg_notM.gif');background-repeat:no-repeat;margin-left:4px}
.Inner .check .cbOff:hover{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_hvr_notM.gif');background-repeat:no-repeat}
.Inner .check .cbOn{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_reg_M.gif');background-repeat:no-repeat;margin-left:4px}
.Inner .check .cbOn:hover{float:right;width:11px;height:11px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/chbx_hvr_M.gif');background-repeat:no-repeat}
.Inner .M .field{float:right}
.Inner .M .field-right-idle{float:right;width:13px;height:29px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/field-right-idle.gif');background-repeat:no-repeat}
.Inner .M .field-mdle-idle{float:right;width:100px;height:29px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/field-mdle-idle.gif');background-repeat:repeat-x}
.Inner .M .field-left-idle{float:right;width:13px;height:29px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/field-left-idle.gif');background-repeat:no-repeat}
.Inner .M img {float:right}
.Inner .M .side1{float:right;width:200px;padding-top:10px}
.Inner .M .side1 .enable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-1-active.gif');background-repeat:no-repeat}
.Inner .M .side1 .disable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-1-disable.gif');background-repeat:no-repeat}
.Inner .M .side1 .proceed{float:right;width:55px;height:23px;cursor:pointer;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/proceed-btn-idle.gif');background-repeat:no-repeat}
.Inner .M .side2 {float:right;width:188px;padding-top:10px}
.Inner .M .side2 .enable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-2-active.gif');background-repeat:no-repeat}
.Inner .M .side2 .disable .header{float:right;width:144px;height:21px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/step-2-disable.gif');background-repeat:no-repeat}
.Inner .M .side2 .approval{float:right;width:55px;height:23px;cursor:pointer;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/approval-btn-idle.gif');background-repeat:no-repeat}
.Inner .succeed{width:229px;margin:auto}
.Inner .succeed .header{float:right;width:229px;height:34px;margin-top:15px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/succeed-msg.gif');background-repeat:no-repeat}
.Inner .succeed .pel{float:right;width:229px;color:#50A5E1;font-size:14px;padding:10px 0px 10px 0px}
.Inner .succeed .rejoin{float:right;width:210px;height:23px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/join-with-differ-btn.gif');background-repeat:no-repeat;cursor:pointer}
.Inner .failure{width:229px;margin:auto}
.Inner .failure .header{float:right;width:229px;height:34px;margin-top:15px;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/not-succeed-msg.gif');background-repeat:no-repeat}
.Inner .failure .pel{float:right;width:229px;color:#50A5E1;font-size:14px;padding:10px 0px 10px 0px}
.Inner .failure .rejoin{float:right;width:210px;height:23px;display:none;background-image:url('/web/App_Themes/default/Images/CampaignAndProgram/join-with-differ-btn.gif');background-repeat:no-repeat;cursor:pointer}
#overlay0 {position:absolute;background-image:url(/web/App_Themes/default/Images/TV/overlay_70.png);z-index:1000;width:200px;height:123px}
#overlay1 {position:absolute;background-image:url(/web/App_Themes/default/Images/TV/overlay_70.png);z-index:1000;width:188px;height:123px}
.longBox{width:535px;float:right;height:140px;display:none;position:relative}
.lbTop{float:right;width:653px;height:9px}
.lbtCenter{float:right;width:645px;height:9px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) repeat-x 0px -9px}
.lbtLeft{float:right;width:8px;height:9px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px 0px}
.lbBottom{float:right;width:653px;height:11px}
.lbbCenter{float:right;width:643px;height:25px;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) repeat-x 0px -119px}
.lbbLeft{float:right;width:9px;height:25px;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) no-repeat 0px -94px}
.valStep0,.valStep0a,.valStep1,.valStep1a,.valStep2,.valStep5,.valStep2a{float:right;width:205px;color:#C0623E;text-align:right;direction:rtl;height:14px;font-weight:bold;font-size:11px}
.valStep0{width:194px;height:auto;color:#3082D6}
* html .valStep0{padding-right:5px}
* html .spe{margin-left:10px}
.lbMiddle{float:right;width:652px;height:110px;}
.lbmCenter{float:right;width:641px;height:110px;background:#ffffff;padding-right:10px}
.step0 .lbmtitle{color:#50A5E1;width:144px;height:21px;float:right;text-align:right;font-size:15px;direction:rtl;font-weight:bold;background:url(/web/App_Themes/default/images/dashboard/step-3-idle2.gif) no-repeat 0px 0px}
.step0 .lbmtitleDis{color:#50A5E1;width:144px;height:21px;float:right;text-align:right;font-size:15px;direction:rtl;font-weight:bold;background:url(/web/App_Themes/default/images/dashboard/step-3-idle.gif) no-repeat 0px 0px}
.step0 .lbmOne{color:#50A5E1;width:148px;float:right;text-align:right;direction:rtl;font-weight:bold;margin-top:3px}
.step0 .lbmoInput{float:right;width: 100%;}
.step0 .lmiCenter{float:right;width: 100%;}
.step0 .lmiRight{float:right;width:6px;height:30px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1_new.gif) no-repeat -6px 0px}
.step0 .lmiLeft{}
.step0 .lbmBottom{margin-top:8px}
.step1 .lbmSend{float:right;width:65px;height:23px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -350px;cursor:pointer;margin:15px 7px 0px 0px}
.step0 .lbmSend{float:right;width:65px;height:23px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -350px;cursor:pointer;margin:15px 7px 0px 0px}
.step1 .lbmtitle{color:#50A5E1;width:125px;height:21px;float:right;text-align:right;font-size:15px;direction:rtl;font-weight:bold;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) no-repeat 0px 0px}
.step1 .lbmtitleDis{color:#50A5E1;width:125px;height:21px;float:right;text-align:right;font-size:15px;direction:rtl;font-weight:bold;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) no-repeat 0px -21px}
.step1 .lbmOne{color:#50A5E1;width:148px;float:right;text-align:right;direction:rtl;font-weight:bold;margin-top:3px}
.step1 .lbmoInput{float:right;width:123px;height:27px;margin-top:13px}
.step1 .lmiCenter{float:right;width:115px;height:27px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) repeat-x 0px -323px}
.step1 .lmiRight{float:right;width:4px;height:27px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat -12px -296px}
.step1 .lmiLeft{float:right;width:4px;height:27px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -296px}
.lbmBottom{width:156px;float:right;height:20px;height:15px}
.step1 .lbmBottom{margin-top:8px;width:197px}
.lbmLegalCbx{float:right;width:11px;height:11px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -373px;cursor:pointer;color:#50A5E1;font-size:2px}
.lbmLegalText{float:right;width:97px;height:15px;color:#50A5E1;line-height:9px;text-align:right;direction:rtl;margin-right:5px;font-size:10px}
.lbmLegalText a{color:#50A5E1;line-height:9px;text-align:right;direction:rtl;font-weight:bold}
.lbmLegalSelected{background-position:-11px -373px;cursor:pointer}
.step1 .lbmSend{float:right;width:65px;height:23px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -350px;cursor:pointer;margin:15px 7px 0px 0px}
.step2 .lbmtitle,.step5 .lbmtitle{color:#50A5E1;width:144px;height:21px;float:right;text-align:right;font-size:15px;direction:rtl;font-weight:bold;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) no-repeat 0px -42px}
.stepAfterNoroam .lbmtitle,.stepNoroam .lbmtitle,.stepBlocked .lbmtitle,.stepAfterBlocked .lbmtitle,.StepAfterSERVICE30NotY .lbmtitle{color:#50A5E1;width:450px;height:21px;float:right;text-align:right;font-size:12px;direction:rtl;padding:22px;font-weight:bold}
.StepAfterSERVICE30NotY .lbmtitle{width:530px;}
.stepNoroam .lbmtitle .fRight,.stepBlocked .lbmtitle .fRight,.stepAfterBlocked .lbmtitle .fRight{font-weight:bold}
.StepAfterSERVICE30NotY .lbmtitle .fRight{font-weight:bold}
.step2 .lbmtitleEna,.step5 .lbmtitleEna{background-position:0px -63px}
.step2 .lbmOne,.step5 .lbmOne{color:#50A5E1;width:200px;float:right;text-align:right;direction:rtl;font-weight:bold;margin-top:3px}
.step2 .lbmoInput,.step5 .lbmoInput{float:right;width:123px;height:27px;margin-top:13px}
.step2 .lmiCenter,.step5 .lmiCenter{float:right;width:115px;height:27px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) repeat-x 0px -323px}
.step2 .lmiRight,.step5 .lmiRight{float:right;width:4px;height:27px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat -12px -296px}
.step2 .lmiLeft,.step5 .lmiLeft{float:right;width:4px;height:27px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -296px}
.step2 .lbmBottom,.step5 .lbmBottom{width:205px;float:right}
.s3success .lbmBottom{margin-top:10px;margin-right:27px;width:159px;display:none}
.s3fail .lbmBottom{margin-right:27px;margin-top:10px;float:right}
.step2 .lbmSend,.step5 .lbmSend{float:right;width:65px;height:23px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -350px;cursor:pointer;margin:15px 7px 0px 0px}
.step3 .lbmtitle{color:#50A5E1;width:575px;float:right;text-align:right;font-size:12px;direction:rtl;font-weight:bold;margin-right:10px;margin-top:15px;height:78px}
.step3 .lbmOne{color:#50A5E1;width:375px;float:right;text-align:right;font-size:15px;direction:rtl;margin-top:8px;height:32px;margin-right:22px;font-weight:bold}
.sendCenter{float:left;height:23px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) repeat-x 0px -407px;color:#50A5E1;font-weight:bold;line-height:20px;cursor:pointer}
.sendLeft{float:left;width:8px;height:23px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat -8px -384px;cursor:pointer}
.sendRight{float:left;width:8px;height:23px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat 0px -384px;cursor:pointer}
.step0{width: 100%;margin-top: 11px;}
* html .step0{margin-right:0px}
.step1{float:right;width:205px;height:90px}
.step2,.step5{float:right;width:205px;margin-right:10px}
.step3,.stepNoroam,.stepBlocked,.stepAfterBlocked,.stepAfterNoroam,.StepAfterSERVICE30NotY{display:none;float:right;width:229px;height:90px}
.s3success{width:621px}
.success{float:right;width:24px;height:30px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat -22px -40px;margin-top:25px}
.fail{float:right;width:24px;height:30px;background:url(/web/App_Themes/default/images/dashboard/joinsoc1.gif) no-repeat -22px -72px;margin-top:19px}
.repRight{float:right;width:506px}
.repLeft{float:right;width:535px}
.tabs{direction:rtl;margin-top:5px;margin-right:7px}
.subtabs{direction:rtl;margin-left:auto;margin-right:auto;width:701px;text-align:center}
.pelenum,.smscode,.acccode{background-color:transparent;border:0px;direction:rtl;float:right;height:21px;margin-top:2px;text-align:right;width:115px;font-size:15px;color:#747474}
.disabled{opacity:0.5;filter:alpha(opacity=50);cursor:default !important}
.step3Toggle{width:30px;height:20px;background-color:#ffffff;margin-right:auto;margin-left:auto;display:none;cursor:pointer}
.stepSep{float:right;width:1px;height:119px;background:url(/web/App_Themes/default/images/dashboard/joinsoc3.gif) no-repeat -144px 0px}
.s3fail{display:none;width:621px}
.load{width:80px;height:20px;position:absolute;right:25px;top:133px;z-index:10;display:none}
.load2{right:240px}
.load3{right:455px;top:185px}
.lbmLegalText p{padding:0px;margin:0px}
.valStep1a{margin-right:7px}
.valStep0a{margin-right:7px}
.step0 .disabled{color:#A8D2F0}
.step1 .disabled{color:#A8D2F0}
.step2 .disabled,.step5 .disabled{color:#A8D2F0}
.step0 .lbmOne,.step2 .lbmOne,.step5 .lbmOne{filter:none !important}
.step1 .lbmOne,.step2 .lbmOne,.step5 .lbmOne{filter:none !important}
.lbmLegalTextDis,.lbmLegalTextDis a{color:#A8D2F0}
.simplemodal-data{_margin-left:auto;_margin-right:auto}
.lastDate,.fromDate{float:right;margin-top:0px;}
.fromDate .fdcenter,.lastDate .fdcenter{float:right;width:112px;height:20px}
.fromDate .fdright,.lastDate .fdright{float:right;width:1px;height:20px}
.fromDate .fdleft,.lastDate .fdleft{float:right;width:4px;height:20px}
.sum{float:right;width:240px;height:63px;text-align:center;direction:rtl;display:none}
.sum .num{font-size:36px;font-weight:bold;width:240px;line-height:30px;margin-top:8px;display:none}
.blue{color:#0278C0}
.lightBlue{color:#339FDD}
.green{color:#6D8D12}
.red{color:#DF3619}
.sum span{color:#666563;font-size:12px;font-weight:bold}
.alterSum{background:url(../App_Themes/default/images/dashboard/boxes.gif) repeat-x 0px -154px}
.simplemodal-overlay{background-color:#000000}
.jdpicker_w .date_selector *{width:auto;height:auto;border:none;background:none;margin:0;padding:0;text-align:left;text-decoration:none;font-size:12px}
.jdpicker_w .date_selector{background:#FFF;border:1px solid #bbb;margin:-1px 0 0 0;position:fixed;z-index:100000;display:none;width:210px}
.jdpicker_w .date_selector table{width:210px;margin-left:3px}
.jdpicker_w .date_clearer{color:#a00;padding-left:3px;cursor:pointer;font-weight:bold;font-family:sans-serif}
.jdpicker_w .date_selector_ieframe{position:absolute;z-index:99999;display:none}
.jdpicker_w .error_msg{display:none;text-align:center;font-size:0.8em;color:#666}
.jdpicker_w .date_selector .nav{background-color:#efefef;border-bottom:solid 1px #C5C5C5;height:22px;width:17.5em;/* 7 * 2.5em */}
.jdpicker_w .date_selector .month_nav,.jdpicker_w .date_selector .year_nav{margin:0 0 3px 0;padding:0;display:block;position:relative;text-align:center}
.jdpicker_w .date_selector .month_nav{float:left;width:56%}
.jdpicker_w .date_selector .year_nav{float:right;width:37%;position:relative}
.jdpicker_w .date_selector .month_nav select{width:75px;margin:0 auto;border:1px solid #ccc;position:relative;top:1px}
.jdpicker_w .date_selector .year_nav .year_input{text-align:center;width:36px;border:1px solid #ccc;position:relative;top:2px}  
.jdpicker_w .date_selector .month_name,.jdpicker_w .date_selector .year_name{font-weight:bold;line-height:20px}
.jdpicker_w .date_selector .button{display:block;position:absolute;top:0;width:18px;height:18px;line-height:17px;font-weight:bold;color:#333;text-align:center;font-size:120%;overflow:hidden;border:1px solid #F2F2F2;cursor:pointer}
.jdpicker_w .date_selector .button:hover,.jdpicker_w .date_selector .button.hover{background:none;color:#333;cursor:pointer;border-color:#ccc}
.jdpicker_w .date_selector .prev{left:0}
.jdpicker_w .date_selector .next{right:0}
.jdpicker_w .date_selector table{margin:0 auto;border-spacing:1px;clear:both}
.jdpicker_w .date_selector th{padding-top:5px}
.jdpicker_w .date_selector th,.jdpicker_w .date_selector td{text-align:center;color:black}
.jdpicker_w .date_selector th.week_label{font-weight:normal;font-style:italic;font-size:80%;width:25px}
.jdpicker_w .date_selector .week_num,.jdpicker_w .date_selector .hover .week_num,.jdpicker_w .date_selector .selected .week_num{font-style:italic;color:#333 !important;vertical-align:bottom !important;text-align:right;border:none !important;font-size:70%;background:#FCFCFC !important;padding-right:4px}
.jdpicker_w .date_selector td{line-height:2em;text-align:center;white-space:nowrap;color:#003C78;background:white}
.jdpicker_w .date_selector td.today{}
.jdpicker_w .date_selector td.unselected_month{visibility:hidden}
.jdpicker_w .date_selector td.selectable_day,.jdpicker_w .date_selector tr.selectable_week td{cursor:pointer;color:#6080A7}
.jdpicker_w .date_selector td.selected,.jdpicker_w .date_selector tr.selected  td{font-weight:bold;background-color:#6080A7;color:#ffffff}
.jdpicker_w .date_selector tr.selectable_week.hover td,.jdpicker_w .date_selector td.selectable_day.hover{font-weight:bold}
.jdpicker{float:right;width:70px;border:0px;background-color:Transparent;font-size:11px;height:20px;cursor:pointer;text-align:right;margin-right:0px;position:relative;z-index:10;line-height:30px}
.dNone{display:none}
.exportFrame{display:none}
.colShorter{width:113px}
.colShort{width:106px}
.colVeryShort{width:61px}
.colo{color:#50A5E1;font-weight:normal}
.legal16{float:right;width:194px;direction:rtl;text-align:right;font-size:10px;height:36px;resize:none;font-family:Arial;margin-bottom:3px;color:#797979}
.openNew{float:left;line-height:9px;text-align:left;direction:rtl;font-size:10px;color:#50A5E1;margin-left:5px}
.errorNew{text-align:right;direction:rtl;color:#3082D6}
.steps{float:right;width:212px}
.retryAfterSnr,.doSnr,.doBlocked{text-decoration:underline;cursor:pointer;font-weight:bold;font-size:15px;background:url(/web/App_Themes/default/images/lite/clickhere.png) no-repeat 0px 0px;width:72px;height:23px;float:right;margin:-5px 5px 0px 5px}
.step5{display:none}
.stepNoroam span,.stepBlocked span,.stepAfterBlocked span{font-weight:normal}
.StepAfterSERVICE30NotY span{font-weight:normal}
.fRight{float:right}
.valStep1L{height:20px}
/*     Matrix Style    */
.clear {clear: both;}
.fll {float: left;}
.flr {float: right;position: relative;}

.savings_packs{ width:763px;height:490px;background: transparent url(../images/mainBg.png) no-repeat;background-size: 100% 100%;direction:rtl;padding:0;font-family:Arial, Sans-Serif;padding-right: 5px;}

.savings_packs_content {
    margin:0;
    padding:0;
    }
 
.savings_packs_content img {
   padding-top:5px;
}

.savings_packs .flr2 { font-size:30px;font-weight:bold;color:#0078bd;line-height:24px;height:24px;margin-right:2px;padding-top: 15px;padding-bottom: 15px;}
    
.savings_packs .package1
{
    width: 202px;
    height: 173px;
    background: transparent url(/web/images/Abroad/package_box.png) no-repeat right top;
    font-size:24px;
    font-weight:normal;
    color:#0077bc;
    line-height:22px;
    position: relative;
    text-align: center;
}

.savings_packs .package2
{
    background: transparent url(/web/images/Abroad/package_box2.png) no-repeat right top;
    font-size:24px;
    font-weight:normal;
    color:#0077bc;
	width: 202px;
	height:173px;
	line-height:22px;
	text-align: center;
}

.savings_packs .package2
{
    margin-right:15px;
}

.savings_packs .package1 p.txt, .savings_packs .package2 p.txt
{
    padding-top:41px;
    font-size:24px;
    font-weight:normal;
    color:#0077bc;
    line-height:12px;
	background: transparent url(../images/offerBg.png) no-repeat left top;
	margin:0;
	height: 158px;
}
.remark
{
width:auto;    
}

.package3 p.txt {
padding-top: 41px;
font-size: 24px;
font-weight: normal;
color: #0077bc;
line-height: 12px;
margin: 0;
height: 132px;
}

.savings_packs .price_num
{
    font-size:62px;
    font-weight:bold;
    padding:0 5px;
}

.savings_packs .price_sign
{
    font-size:43px;
}

.txt_description
{
    font-size:18px;
    font-weight:bold;
    color:#0077bc;
    display:block;
    margin-top: 9px;
    line-height: 17px;
}

.savings_packs a.more_info
{
    font-size:13px;
    font-weight:bold;
    color:#0077bc;
}

.savings_packs a.more_info:hover
{
    text-decoration:underline;
}

.savings_packs .choose
{
    margin: 5px 0 0 8px;
    background: transparent url(../images/addBtn.png) no-repeat 0 0;
    width: 85px;
    height: 28px;
    border:0;
    cursor:pointer;
    display:inline-block;
}

.savings_packs .chosen{background: url("../images/vBtn.png") no-repeat scroll -3px 2px transparent;border: 0 none;cursor: pointer;display: inline-block;height: 28px;width: 85px;margin: 5px 0 0 8px;}

.savings_packs .savings_packs_or 
{
    font-size:30px;
    font-weight:bold;
    color:#0077bc;
    float:right;
    padding:50px 5px 0 15px;
    width:20px
}

.savings_packs .package3
{
    background: transparent url(../images/offerBg.png) no-repeat right top;
    font-size:24px;
    font-weight:normal;
    color:#0077bc;
    width: 202px;
    height: 173px;
    text-align: center;
    
}

.savings_packs .package3 .txt
{font-size:24px;}

.savings_packs .package3 .choose, .savings_packs .package3 .chosen
{
    margin:2px 5px 0 0;
    vertical-align:text-top;
}


.savings_packs .package3_txt
{
    
    padding:20px 0 0 25px;
    font-size:14px;
    font-weight:normal;
    color:#0077bc;
    line-height:18px;
	
}

.savings_packs .package3_txt a
{
    font-size:14px;
    font-weight:bold;
    color:#0077bc;
}

.savings_packs .package3_txt a:hover
{
    text-decoration:underline;
}

/*  Date Pick  */ 

.savings_packs .choose_date
{  
    float: right;
    font-size:22px;
    font-weight:normal;
    color:#0077bc;
    background: transparent url(../images/dateAreaBg.png) no-repeat 0 0;
    width:460px;
    height: 81px;
    margin: 20px 2px 44px;
    padding:9px 18px 0px 0px;
}

.savings_packs label
{  
    font-size:16px;
    float: right;
}

.savings_packs .choose_date input
{  
    width:90px;
    height:30px;
    border:0;
    display:inline;
    background: transparent url(../images/datePickerBg.png) no-repeat 0 0;
}

.savings_packs .choose_date .remark
{  
    font-size:14px;
    font-weight:normal;
    color:#0077bc;
    line-height:16px;
    padding-right:10px;
}

/*  Summery  */ 

.savings_packs .summery
{
    clear: right;
    font-size:18px;
    font-weight:bold;
    color:#0077bc;
    display:inline-block;
    width:190px
}

.total_sum{min-width:35px;display:inline-table;}
.savings_packs .summery > img{padding:10px 12px 0 0;}
.purchase{display:inline;width:auto;position: absolute;bottom: 36px;left: 19px;}
.savings_packs input.purchase_btn{  width: 142px;height: 38px;background: transparent url(../images/btn_purchase.png) no-repeat 0 0;border:0;cursor:pointer;}
.more_details a{font-family:Arial, Sans-Serif;font-size:14px;font-weight:bold;color:#0077bc;line-height:22px;padding:10px 5px;}
.more_details a:hover{text-decoration:underline;}
.savings_packs .package3 .txt_description {margin-top:20px}
.date_selector{direction:ltr}
.bannerContainerBig{float:none;width:982px;margin:0px auto}
.footer{float:none;width:982px;margin:0px auto}
.rowF{float:right;width:440px;height: 227px;padding-right:25px;background: transparent url(../images/divBg2.png) no-repeat left top;}
.rowF2{float: left;margin-left: 6px;width: 258px;height: 227px;padding-right: 25px;background: transparent url(../images/divBg1.png) no-repeat right top;}
.rowF h1{margin:0; font-size:19px;color:#0077bc;padding-top: 10px;}
.rowF .ribun{position:absolute;background: transparent url(../images/ribbon.png) no-repeat left top;width: 82px;height: 81px;top: 5px;left: 4px;}
div.fotter{position: absolute;bottom: 10px;right: 10px;width:92%;s}
.iin{float:right;clear:both;margin:28px 16px 0px 0px;cursor:pointer}
span.rest{display: block;}
.jdpicker_w{float:right;}
#mainTextCont{position: relative;width: 765px;}
.more_details{float:right;}