@charset "utf-8";
/* CSS Document */

body
{
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
}

section#player
{
	margin: 0 auto;
	margin-top:15px;
	width:72%;
}

section#player header
{
	position: relative;
	margin: 0 auto;
	height:100%; width:99%; float:left;	
	border:#343434 1px solid;
	border-bottom: 0px;
	padding-left:4px;
	padding-bottom:4px;
	padding-top:12px; 
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	-moz-border-top-left-radius:3px;
}

section#content
{
	float:left;
	width:93.2%;
}

section#content img
{
	width:100%;
	border-radius:7px;
	-moz-border-radius:7px;
}

aside#menu
{
	position: absolute; bottom:2%; right:-0.5%;
	float:left;
	width:6.5%;
}

aside#menu li
{	
	margin-bottom:30%;
}

aside#menu li.last
{	
	margin-bottom:0;
}

aside#menu img
{
	width:90%;
}

footer#controller
{
	width:100%;
	clear:left;
}

footer#controller img
{
	width:100%;
}

footer#controller li
{
	display:block;
	float:left;
}

footer#footer
{	

	clear:left;
	margin: 0 auto;
	padding-top:35px;
	color:#505343;
	font-size:7px;
	width:80%;
	text-align:center;
	text-wrap:unrestricted;
}

footer#footer ul
{
	list-style: none; margin: 0; padding: 0;
}

footer#footer a
{
	text-decoration:underline;
	text-align:center;
	display:inline;
	color:#505343;
}


footer#footer a .last { content: " | "; }

/*///////////////////////////////*/

section#popup #header
{
	height:25%; width:100%;
	border-top-right-radius:7px;
	-moz-border-top-right-radius:7px;
	border-top-left-radius:7px;
	-moz-border-top-left-radius:7px;
	background-image: linear-gradient(bottom, rgb(132,132,132) 34%, rgb(206,206,206) 88%);
	background-image: -o-linear-gradient(bottom, rgb(132,132,132) 34%, rgb(206,206,206) 88%);
	background-image: -moz-linear-gradient(bottom, rgb(132,132,132) 34%, rgb(206,206,206) 88%);
	background-image: -webkit-linear-gradient(bottom, rgb(132,132,132) 34%, rgb(206,206,206) 88%);
	background-image: -ms-linear-gradient(bottom, rgb(132,132,132) 34%, rgb(206,206,206) 88%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, rgb(132,132,132)),
		color-stop(0.88, rgb(206,206,206))
	);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cecece', endColorstr='#848484'); /* IE6 & IE7 */
5
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cecece', endColorstr='#848484')"; /* IE8 */
	border:0px;
	padding:0;
	margin:0;
}
section#popup #header h1
{
	color:#FFF;
	position:relative; top:10%;
	line-height:105%; text-align:center;font-weight:bolder;
	padding:0;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
	text-shadow: 0 0 1px #000, 0 0 6px #000, 0 0 2px #000, 0 0 3px #000, 0 0 70px #000, 0 0 5px #000, 0 0 6px #000, 0 0 4px #000;
	 filter: progid:DXImageTransform.Microsoft.Glow(color=000,strength=4);
}

section#popup #header h2
{
	
	
	font-size:11px;
	text-align:center;
	line-height:105%; text-align:center;font-weight:bolder;
	padding:0;
	padding-top:1%;
}

section#popup h3
{
	margin-top:10%;
	font-size:35px;
	color:#FFF;
	line-height:105%; text-align:center;font-weight:bolder;
	padding:0;
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
	text-shadow: 0 0 1px #ff9500, 0 0 2px #ff9500, 0 0 2px #ff9500;
	 filter: progid:DXImageTransform.Microsoft.Glow(color=000,strength=4););
}
   
section#popup
{
	border:#868684 1px solid;
	border-radius:7px;
	-moz-border-radius:7px;
	width:50%;
	height:50%;
	position:absolute; top:35%; left:25%;
	display:inline;
	background-image: linear-gradient(top, rgb(54,54,54) 30%, rgb(9,9,9) 65%);
background-image: -o-linear-gradient(top, rgb(54,54,54) 30%, rgb(9,9,9) 65%);
background-image: -moz-linear-gradient(top, rgb(54,54,54) 30%, rgb(9,9,9) 65%);
background-image: -webkit-linear-gradient(top, rgb(54,54,54) 30%, rgb(9,9,9) 65%);
background-image: -ms-linear-gradient(top, rgb(54,54,54) 30%, rgb(9,9,9) 65%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.3, rgb(54,54,54)),
	color-stop(0.65, rgb(9,9,9))
);

filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#363636', endColorstr='#090909'); /* IE6 & IE7 */
5
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#363636', endColorstr='#090909')"; /* IE8 */
}

section#form-body
{
	min-height:80%;
}

button#submit  
{
	width:58%; border: 0; background: transparent;
	margin-top:5%;
	margin-left:20%;
}

input#input
{
	margin:0 auto;
	margin-left:20%;
	margin-top:3%;
	margin-bottom:3%;
	width:60%;
}
.form-field
{
	clear:left;
	width::100%;
}

label
{
	margin-left:15%;
	width:100%;
	float: left;
	color:#F00; font-size:15px; font-style:italic;
}
