html { overflow-x: hidden; }
* { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent;}

article, aside, details, figcaption, dialog, figure, footer, header, hgroup, menu, nav, section, blockquote { display: block; }
body { color: #fff; font: normal 12px/1 Arial,Helvetica,sans-serif; }
body { background: url(../images/mainbg.jpg) top center no-repeat; color: #fff; font: normal 12px/1 Arial,Helvetica,sans-serif; }
.wrapper { width: 990px; height: 1000px; margin: 0 auto; }
hr { display: block; height: 1px; border: 0; background: url(../images/hr.png) center top no-repeat; margin: 0; padding: 0; }
p { font: 12px/1.2 Arial,Helvetica,sans-serif; display: block; text-align: right; direction: rtl; }
a { font: 12px/1 Arial,Helvetica,sans-serif; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; }
span { font: 12px/1 Arial,Helvetica,sans-serif; text-align: right; }

/*.wrapper { width: 990px; height: 1000px; padding: 0 145px; margin: 0 auto; background: url(/web/sales/DigitalSales/images/mainBg.jpg) 0 0 no-repeat; }*/
.wrapper > a { display: block; text-align: right; }
.wrapper > p { padding-right: 20px; font: 20px/1.5 Arial; }

.mainBox { width: 990px;background: url("../images/mainBoxBg.png") no-repeat scroll right top transparent; }
.mainBox > img { display: block; }
.mainBoxInner { clear: left;width: 906px; overflow: hidden; padding: 31px 36px;margin-top: 48px;}
.mainBoxInner > a { display: block; text-align: center; }
.mainBoxInner > p { color: #0077BC; font: bold 22px/2 Arial; }
.mainBoxInner > p a { float: left; padding-top: 17px; color: #0077BC; }
.mainBoxInner > ul > li { width: 286px; float: right; display: block; list-style: none; }
.mainBoxInner > ul > li + li { margin-right: 24px; }
.mainBoxInner  ul.devices{margin-top:42px;}
span.chose-device{float:right;height:42px;color:#0077bc;font-size:22px;line-height: 36px;font-weight: bold;}
article { width: 287px;height: 340px;padding: 13px 17px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;background: url(../images/deviceBox.png) right top no-repeat; }
.mainBoxInner > ul > li:hover article { background-position: right -340px; cursor: pointer; }
.mainBoxInner > ul > .current article { background-position: 0 -680px !important; cursor: pointer; }

figure { overflow: hidden; height: 258px; }
figure img { display: block;margin: 0 auto;width: auto; }

figcaption {text-align: center;font: 20px/1.5 Arial; color: #2A2A2A; font-weight:bold;margin-bottom: 10px;}
figcaption span { font-size: 14px; vertical-align: baseline; }

article hr { display: block; width: 280px; height: 1px; border: 0; background: url(../images/deviceBoxHR.png) 0 0 no-repeat; margin: 0.4em 0; padding: 0;margin-left: -10px; }
article p { text-align: center; color: #2A2A2A; font: 14px/1.5 Arial; }
article p span { color: #0077BC; font: bold 22px/1.3 Arial; }

.colorBox { width: 287px; height: 127px;padding: 12px 0px 0 0;;background: url(../images/colorBox.png) right top no-repeat; }
mainBoxInner > ul > li:hover .colorBox { background-position: right bottom; }
.mainBoxInner > ul > .current .colorBox { background-position: right -141px;}
.colorBox span { float: right; margin-left: 10px; color: #000; font: 17px/32px Arial; margin-top: 2px;margin-right: 15px;}
.mainBoxInner > ul > .current .colorBox span { color: #2A2A2A; }
.colorBox ul li { width: 38px; height: 37px; float: right; display: block; list-style: none; cursor: pointer; }
.colorBox ul li + li { margin-right: 10px; }
/*.mainBoxInner > ul > .current .colorBox ul li:hover { background-position: right -37px; }*/
.mainBoxInner > ul > .current .colorBox ul .current { background-position: right bottom !important; }
.colorBox .white { background: url(../images/white.png) right top no-repeat; }
.colorBox .blue { background: url(../images/blue.png) right top no-repeat; }
.colorBox .black { background: url(../images/black.png) right top no-repeat; }
.colors{margin-top: 7px;}

.buyBox {float: right;height: 60px; margin: 21px 0;padding: 0 7px 14px 14px;width: 277px;}
/*.mainBoxInner > ul > li:hover .buyBox { background-position: right -74px; }*/
/*.mainBoxInner > ul > .current .buyBox { background-position: right bottom; }*/

/*.btn { width: 142px;height: 15px; float: right; padding-top: 4px; text-align: center; background: url(../images/btn.png)  no-repeat scroll right top transparent; color: #C6C6C6; font: 19px/1 Arial; text-decoration: none; }
.btn + .btn { margin-right: 12px; }
.mainBoxInner > ul > .current .buyBox .btn:hover{ background-position: -144px top;}

.device { line-height: 38px; cursor: default;}
.mainBoxInner > ul > .current .buyBox .device {background-position: right -49px  color: #FFFFFF; cursor: pointer;}
.mainBoxInner > ul > .current .buyBox .devicePack { cursor: pointer; background-position: right bottom; color:#ffffff;}*/
.mainBoxInner > ul > li:hover .buyBox {
    background-position: right -74px;
}
.mainBoxInner > ul > .current .buyBox {
    background-position: right bottom;
}
.btn {background: url("../images/btn.png") no-repeat scroll right bottom transparent;color: #C6C6C6;float: right;font: 19px/1 Arial;height: 56px;padding-top: 4px;text-align: center;text-decoration: none;width: 129px;}
.btn + .btn {margin-right: 12px;}
.device {line-height: 38px; background-position: right top;}
.current .buyBox .device:hover {background-position: -6px top;color: #FFFFFF;cursor: pointer;}
.current .buyBox .devicePack:hover{background-position: -6px -60px ;color: #FFFFFF;cursor: pointer;}

