﻿.bg-black {
    background-color: black;
}

.bg-orange {
    background-color: #f7941d;
}

.bg-blue {
    background-color: #00aeef;
}

.bg-green {
    background-color: #00a651;
}

.margin-center {
    margin: 0 auto;
    display: block;
}

.color-white {
    color: white;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.navbar {
    background-color: black;
}

    .navbar .container, .navbar {
        height: 150px;
    }

img[alt=nathan] {
    position: absolute;
    top: 45px;
    z-index: 1;
}

main {
    background: url(../images/topbg.png) no-repeat;
    padding-top: 10px;
}

h1 {
    font-size: 43px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 35px;
}

h2 {
    font-size: 46px;
}

blockquote {
    border-left: 0;
    padding-left: 30px;
    margin-bottom: 0;
}

    blockquote p:nth-child(2) {
        float: right;
    }

.blockquote-avatar {
    margin-top: 8px;
}

.top-row {
    margin-bottom: 7px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.pic1 {
    background: url(../images/pic1.png);
    background-size: cover;
    height: 215px;
}

.pic2 {
    background: url(../images/pic2.png);
    background-size: cover;
    height: 215px;
}

.pic3 {
    background: url(../images/pic3.png);
    background-size: cover;
    height: 215px;
}

.faces {
    margin-top: 20px;
    margin-bottom: 20px;
}

.community-text {
    margin-right: 55px;
    margin-left: 55px;
}

.imgstrip {
    background: url(../images/imgstrip.png);
    background-size: cover;
    height: 145px;
}

.row-blocks .col-lg-4 {
    height: 215px;
}

.btn-register{
    font-size:30px;
    text-transform:uppercase;
    max-width:455px;
    margin-bottom:20px;
}
h3 {
    margin-top:0;
    padding-top: 20px;
}