html, body {
    width:100%;
    height:100%;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    margin:0;
    background-color:white;
}

iframe, body {
    overflow:hidden;
}
.div {
    pointer-events:none;
}
selected {
    pointer-events:all;
}
#main-room {
    width:100%;
    height:100%;
}

#add {
    position:absolute;
    top:0;
    left:0;
}

#textarea {
    height: calc(100% - 43px);
}

textarea {
    width: 100%;
    height: calc(100% - 21px);
}

h1 {
  font-size: 15px;
  color:white;
}

.chat-title {
    background-color:blue;
}

