@charset "utf-8";
/* CSS Document */

body
{
	background-color:#dfdfdf;
	font-family:Arial, Helvetica, sans-serif;
}

div#wrapper 
{
	border-right:1px #ccc solid;
	margin:0 auto;
	height:779px;
	width:1035px;
}
/*HEADER*/
header#top
{
	height: 55px;
	width:1035px;
	background-image:url('../images/header-bg.jpg');
	font-size:12px;
	float:left;
}

header div#header-wrapper
{
	float:left;
	width:100%;
	padding-top:13px;
}

header div#user-thumb
{
	float:left;
	width:25px;
	height:25px;
	background-color:#383838;
	margin:0 14px 0 14px;
	border: solid 1px #313131;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
	background-image:url('../images/users/user1.jpg'); 
	background-position: 50% 50%;
}

header span
{
	color:#FFF;
	line-height: 25px;
}
header a
{
	text-decoration:none;
	color:#acacac;
}

header div.button
{
	float:right;
	margin-top: -5px;
	margin-right: 13px;	
}

/*CONTACTS*/
section#contacts
{
	float:left;
	width:140px;
	height:707px;
	background-color:#f9f9f9;
	-moz-box-shadow:1px 1px 5px 0px rgba(108, 108, 108, 0.75);
	-webkit-box-shadow:1px 1px 5px 0px rgba(108, 108, 108, 0.75);
	box-shadow:1px 1px 5px 0px rgba(108, 108, 108, 0.75);


}

section#contacts header
{
	float:left;
	width:100%;
	background-color:#e8e8e8;
	border-bottom:solid 1px #c0c0c0;
}

section#contacts header figure
{
	float:left;
	margin:12px 10px 0px 15px;
}

section#contacts header h1
{
	float:left;
	font-weight:bold;
	line-height: 46px;
}

section#contacts div#online
{
	float:left;
	width:100%;
	padding-top:10px;
}

section#contacts ul#online-list
{
	float:left;
	width:100%;
	
}

section#contacts div#offline
{
	float:left;
	width:100%;
	border-top:solid 1px #c0c0c0;
	border-bottom:solid 1px #c0c0c0;
}

section#contacts div.green-dot
{
	float:left;
	margin:10px 24px 0px 20px;
	background-color: #2a9f1e;
	height: 5px;
	width: 5px;
}
section#contacts div.gray-dot
{
	float:left;
	margin:10px 24px 0 20px;
	background-color: #a6a6a6;
	height: 5px;
	width: 5px;
}
section#contacts ul figure
{
	float:left;
	margin:0 18px;
}
section#contacts h2, section#contacts  h3
{
	float:left;
	margin:5px 0;
	color:#a8a8a8;
	font-size:14px;
}
section#contacts h3
{
	font-size:10px;
	line-height:16px;
	margin-left:3px;
}
section#contacts ul li
{
	float:left;
	width: 100%;
	height:32px;
	margin: 7px 0 7px 0px;
	font-size:13px;
}
section#contacts ul li.selected
{
	background-color:#6bc164;
	border-bottom: solid 1px #55a04d;
	border-top: solid 1px #55a04d;
}
section#contacts ul li p
{
	line-height:32px;
	color:#3f3f3f;
}
section#contacts ul div.contcats-thumb
{
	float:left;
	width:20px;
	height:20px;
	margin-top:2px;
	margin-left: 9px;
	margin-right:10px;
}
section#contacts ul div.red-dot
{
	position:relative;
	top:-4px;left:12px;
	background-color: #c82f2f;
	color:#ffffff;
	height: 13px;
	width: 13px;
	text-align:center;
	font-size:10px;
	line-height: 13px;
}
section#contacts ul div.blue-dot
{
	position:relative;
	top:-4px;left:12px;
	background-color: #2f73c8;
	color:#ffffff;
	height: 13px;
	width: 13px;
	text-align:center;
	font-size:10px;
	line-height: 13px;
}
section#contacts footer{
	position:absolute;
	top:720px;
	background-color:#e8e8e8;
	border-top:solid 1px #bfbfbf;
	height:42px;
	line-height:42px;
	width:140px;
	font-weight:bold;
}
section#contacts footer figure{
	float:left;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 10px;
}
/*WALL*/
section#wall
{
	float:left;
	width:740px;
}

section#wall article.row
{
	width:742px;
	height:90px;
	float:left;
}

section#wall article.row .wall-content
{
	width:661px;
	height:99%;
	float:right;
	background-color:#f9f9f9;
	border-left:solid 1px #b5b5b5;
	border-right:solid 1px #b5b5b5;
	border-bottom:solid 1px #eeeeee;
}

section#wall article.row .wall-content .bubble 
{
	position: relative;
	left:15px;
	width: 628px;
	height: 50px;
	margin-top: 23px;
	background: #FFFFFF;
	border: #7F7F7F solid 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-moz-box-shadow:0px 1px 1px 0px rgba(157, 157, 157, 0.75);
	-webkit-box-shadow:0px 1px 1px 0px rgba(157, 157, 157, 0.75);
	box-shadow:0px 1px 1px 0px rgba(157, 157, 157, 0.75);
}

section#wall article.row .wall-content .bubble p.content
{
	padding-left:15px;
	padding-top:20px;
	font-size:12px;
	color:#505050;
}
section#wall article.row .wall-content .bubble p.time
{
	font-size:10px;
	color:#b4b4b4;
	margin-top:22px;
	margin-right:2px;
	float:right;
}
section#wall article.row-me .wall-content .bubble p.content
{
	color:#f9f9f9;
}

section#wall article.row-me .wall-content .bubble 
{
	background: #3f3f3f;
}

section#wall article.row .wall-content .bubble .tail{
	position: absolute;
	top: 13px;
	left: -14px;
	height: 56px;
	width: 14px;
	overflow: hidden;
}
section#wall article.row .wall-content .bubble .tail:before { 
    background-color: #ffffff;
   -moz-box-shadow:0px 1px 1px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow:0px 1px 1px 0px rgba(119, 119, 119, 0.75);
	box-shadow:0px 1px 1px 0px rgba(119, 119, 119, 0.75);
    content: "\00a0";

    display: block;
    position: absolute;
    top: 0px;
    left: 5px;
    height: 8px;
    width:  40px;
    -webkit-transform: skew( -45deg );
    -moz-transform:    skew( -45deg );
	 -webkit-transform: rotate( -45deg );
    -moz-transform:    rotate( -45deg );
	transform: rotate( -45deg );
	transform:    skew( -45deg );
}

section#wall article.row-me .wall-content .bubble .tail:before { 
    background-color: #3f3f3f;
}

section#wall article.row aside
{
	float:left;
	height:99%;
	padding: 0px 17px;
	border-bottom:solid 1px #bebebe;
}

section#wall article.row aside div.contcats-thumb
{
	float:left;
	margin-top:15px;
	width:39px;
	height:39px;
}
section#wall article.row-first 
{	
	height:105px;
}
section#wall article.row-first .wall-content
{	
	height: 86%;
	padding-top: 14px;
}
section#wall article.row-first aside div.contcats-thumb{
	margin-top:29px;
}

section#wall article.row-last .wall-content
{
	height: 100px;
	padding-top: 8px;
} 

section#wall article.row-last aside
{	
	position: relative;
	top: -94px;
	right: 0px;
	border-bottom: none;
	background-color: #F9F9F9;
	border-left: solid 3px #64AE5E;
	height:auto;
	padding-bottom: 5px;
}
section#wall article.row aside p.user-name
{
	clear:left;
	padding-top: 5px;
	font-size:12px;
	color:#7f7f7f;
	text-align:center;
	width: 30px;
}
section#wall article.row-last aside p.user-name
{	
	color:#9b9b9b;
}
section#wall footer
{
	margin-left:79px;
	float:left;
	width:661px;
	text-align:center;
	background-color:#f9f9f9;
	border-left:solid 1px #b5b5b5;
	border-right:solid 1px #b5b5b5;
	border-bottom:solid 1px #b5b5b5;
}
section#wall footer div#tap
{
	background-color:#fbfbfb;
	width:619px;
	height:111px;
	margin:0 auto;
	margin-bottom:28px;
	border: solid 1px #f2f2f2;
	-moz-box-shadow:0px 3px 4px 0px rgba(242, 242, 242, 0.90);
	-webkit-box-shadow:0px 3px 4px 0px rgba(242, 242, 242, 0.90);
	box-shadow:0px 3px 4px 0px rgba(242, 242, 242, 0.90);
}
section#wall footer figure
{
	margin:16px 0;
}
section#wall footer p
{
	margin-top: 33px;
	color:#3f3f3f;
	font-size:16px;
}

/*REQUESTS*/
section#friends-requests
{	
	float:right;
	margin-top:80px;
	width:135px;
	height:536px;
	background-image:url('../images/requests-bg.jpg');
	color:#ffffff;
	text-align:center;
}

section#friends-requests header h1
{	
	position: relative;
	top: 11px;
	font-size:14px;
}

section#friends-requests ul
{	
	width:125px;
	margin:0 auto;
	
}
section#friends-requests ul li
{	
	border-bottom:#3c3c3c solid 2px;
}
section#friends-requests ul li.first
{	
	border-top:#3c3c3c solid 1px;
}

section#friends-requests div.requests-thumb
{	
	width:66px;
	height:59px;
	margin:0 auto;
	margin-top:20px;
	-moz-box-shadow:0px 6px 9px -4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow0px 6px 9px -4px rgba(0, 0, 0, 0.75);
	box-shadow:0px 6px 9px -4px rgba(0, 0, 0, 0.75);
}
section#friends-requests div.red-dot
{
	position:relative;
	top: -24px;
	left: -8px;
	background-color: #c82f2f;
	color:#ffffff;
	height: 21px;
	width: 21px;
	font-size:14px;
	line-height:21px;
}

section#friends-requests li p
{	
	font-size:12px;
	margin-top:10px;
	margin-bottom:10px;
}


div.round
{
	 -moz-border-radius:75px;
	 -webkit-border-radius: 75px;
	 -khtml-border-radius: 75px;
     border-radius: 75px;
	 -moz-box-shadow:0px 2px 3px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow:0px 2px 3px 0px rgba(119, 119, 119, 0.75);
	box-shadow:0px 2px 3px 0px rgba(119, 119, 119, 0.75);
	text-align:center;
}
div.thumb
{
	background-color:#ffffff;
	background-position: 50% 50%;
	background-repeat:no-repeat;
	border: solid 3px #ffffff;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.75);
	box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.75);
}
